/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root, [data-theme="default"] {
  --color-main: 234;
  --color-primary: hsl(235, 18%, 36%);
  --color-primary-h: 235;
  --color-primary-s: 18%;
  --color-primary-l: 36%;
  --color-second: hsl(165, 56%, 69%);
  --color-second-h: 165;
  --color-second-s: 56%;
  --color-second-l: 69%;
  --color-dark: hsl(0, 0%, 13%);
  --color-dark-h: 0;
  --color-dark-s: 0%;
  --color-dark-l: 13%;
  --color-light: hsl(4, 19%, 84%);
  --color-light-h: 4;
  --color-light-s: 19%;
  --color-light-l: 84%; }
  :root, [data-theme="default"] {
    font-size: 1.1rem; }
    @media screen and (min-width: 20rem) {
      :root, [data-theme="default"] {
        font-size: calc(1.1rem + 0.7 * ((100vw - 20rem) / 30)); } }
    @media screen and (min-width: 50rem) {
      :root, [data-theme="default"] {
        font-size: 1.8rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }
  *::selection {
    background: hsla(var(--color-second-h), var(--color-second-s), var(--color-second-l), 0.8); }

html {
  position: relative;
  scrollbar-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 1) transparent;
  scrollbar-width: thin; }

body {
  font-family: "Montserrat", sans-serif;
  color: #878787;
  background: white;
  line-height: 1.2; }
  body::-webkit-scrollbar {
    width: 6px; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: transparent; }
  body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 1); }

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8em .5em;
  border: 0; }

.visually-hidden:not(:focus):not(:active), .form .ss-disabled:not(:focus):not(:active), .modal .ss-disabled:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
.form input.ss-disabled[type="checkbox"],
.modal input.ss-disabled[type="checkbox"],
input[type="radio"].visually-hidden,
.form input.ss-disabled[type="radio"],
.modal input.ss-disabled[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1 {
  font-size: 1.32rem; }

h2 {
  font-size: 1.8rem; }

button {
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  transition: all 265ms ease-in; }
  button:hover {
    background: hsla(var(--color-second-h), calc(var(--color-second-s) - 19%), calc(var(--color-second-l) - 32%), 1); }
  button:active {
    background: hsla(var(--color-dark-h), var(--color-dark-s), var(--color-dark-l), 1); }

button:focus, a:focus, input:focus {
  outline: 0;
  box-shadow: 0 1px 0 0 hsla(var(--color-dark-h), var(--color-dark-s), var(--color-dark-l), 1); }

input, textarea {
  width: 100%;
  padding: .5em .8em;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(0.347rem * 1.5);
  font-weight: normal;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #1c1c1c; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.347rem * 1.2); }

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.347rem * 1.2); }

input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.347rem * 1.2); }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.347rem * 1.2); }

.noscroll {
  overflow: hidden; }

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../assets/fonts/Montserrat-Light.woff") format("woff"); }

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Raleway-Black.woff2") format("woff2"), url("../assets/fonts/Raleway-Black.woff") format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../assets/fonts/Raleway-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.woff") format("woff"); }

.iti {
  position: relative;
  display: inline-block; }
  .iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .iti__hide {
    display: none; }
  .iti__v-hide {
    visibility: hidden; }
  .iti input, .iti input[type=text], .iti input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0; }
  .iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px; }
  .iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px; }
  .iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555; }
    .iti__arrow--up {
      border-top: none;
      border-bottom: 4px solid #555; }
  .iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .iti__country-list--dropup {
      bottom: 100%;
      margin-bottom: -1px; }
    @media (max-width: 500px) {
      .iti__country-list {
        white-space: normal; } }
  .iti__flag-box {
    display: inline-block;
    width: 20px; }
  .iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC; }
  .iti__country {
    padding: 5px 10px;
    outline: none; }
  .iti__dial-code {
    color: #999; }
  .iti__country.iti__highlight {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti__flag-box, .iti__country-name, .iti__dial-code {
    vertical-align: middle; }
  .iti__flag-box, .iti__country-name {
    margin-right: 6px; }
  .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0; }
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0; }
  .iti--allow-dropdown .iti__flag-container:hover {
    cursor: pointer; }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
      background-color: rgba(0, 0, 0, 0.05); }
  .iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
  .iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
    cursor: default; }
    .iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
    .iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
      background-color: transparent; }
  .iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px; }
  .iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px; }
    .iti--container:hover {
      cursor: pointer; }

.iti-mobile .iti--container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed; }

.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%; }

.iti-mobile .iti__country {
  padding: 10px 10px;
  line-height: 1.5em; }

.iti__flag {
  width: 20px; }
  .iti__flag.iti__be {
    width: 18px; }
  .iti__flag.iti__ch {
    width: 15px; }
  .iti__flag.iti__mc {
    width: 19px; }
  .iti__flag.iti__ne {
    width: 18px; }
  .iti__flag.iti__np {
    width: 13px; }
  .iti__flag.iti__va {
    width: 15px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-size: 5652px 15px; } }
  .iti__flag.iti__ac {
    height: 10px;
    background-position: 0px 0px; }
  .iti__flag.iti__ad {
    height: 14px;
    background-position: -22px 0px; }
  .iti__flag.iti__ae {
    height: 10px;
    background-position: -44px 0px; }
  .iti__flag.iti__af {
    height: 14px;
    background-position: -66px 0px; }
  .iti__flag.iti__ag {
    height: 14px;
    background-position: -88px 0px; }
  .iti__flag.iti__ai {
    height: 10px;
    background-position: -110px 0px; }
  .iti__flag.iti__al {
    height: 15px;
    background-position: -132px 0px; }
  .iti__flag.iti__am {
    height: 10px;
    background-position: -154px 0px; }
  .iti__flag.iti__ao {
    height: 14px;
    background-position: -176px 0px; }
  .iti__flag.iti__aq {
    height: 14px;
    background-position: -198px 0px; }
  .iti__flag.iti__ar {
    height: 13px;
    background-position: -220px 0px; }
  .iti__flag.iti__as {
    height: 10px;
    background-position: -242px 0px; }
  .iti__flag.iti__at {
    height: 14px;
    background-position: -264px 0px; }
  .iti__flag.iti__au {
    height: 10px;
    background-position: -286px 0px; }
  .iti__flag.iti__aw {
    height: 14px;
    background-position: -308px 0px; }
  .iti__flag.iti__ax {
    height: 13px;
    background-position: -330px 0px; }
  .iti__flag.iti__az {
    height: 10px;
    background-position: -352px 0px; }
  .iti__flag.iti__ba {
    height: 10px;
    background-position: -374px 0px; }
  .iti__flag.iti__bb {
    height: 14px;
    background-position: -396px 0px; }
  .iti__flag.iti__bd {
    height: 12px;
    background-position: -418px 0px; }
  .iti__flag.iti__be {
    height: 15px;
    background-position: -440px 0px; }
  .iti__flag.iti__bf {
    height: 14px;
    background-position: -460px 0px; }
  .iti__flag.iti__bg {
    height: 12px;
    background-position: -482px 0px; }
  .iti__flag.iti__bh {
    height: 12px;
    background-position: -504px 0px; }
  .iti__flag.iti__bi {
    height: 12px;
    background-position: -526px 0px; }
  .iti__flag.iti__bj {
    height: 14px;
    background-position: -548px 0px; }
  .iti__flag.iti__bl {
    height: 14px;
    background-position: -570px 0px; }
  .iti__flag.iti__bm {
    height: 10px;
    background-position: -592px 0px; }
  .iti__flag.iti__bn {
    height: 10px;
    background-position: -614px 0px; }
  .iti__flag.iti__bo {
    height: 14px;
    background-position: -636px 0px; }
  .iti__flag.iti__bq {
    height: 14px;
    background-position: -658px 0px; }
  .iti__flag.iti__br {
    height: 14px;
    background-position: -680px 0px; }
  .iti__flag.iti__bs {
    height: 10px;
    background-position: -702px 0px; }
  .iti__flag.iti__bt {
    height: 14px;
    background-position: -724px 0px; }
  .iti__flag.iti__bv {
    height: 15px;
    background-position: -746px 0px; }
  .iti__flag.iti__bw {
    height: 14px;
    background-position: -768px 0px; }
  .iti__flag.iti__by {
    height: 10px;
    background-position: -790px 0px; }
  .iti__flag.iti__bz {
    height: 14px;
    background-position: -812px 0px; }
  .iti__flag.iti__ca {
    height: 10px;
    background-position: -834px 0px; }
  .iti__flag.iti__cc {
    height: 10px;
    background-position: -856px 0px; }
  .iti__flag.iti__cd {
    height: 15px;
    background-position: -878px 0px; }
  .iti__flag.iti__cf {
    height: 14px;
    background-position: -900px 0px; }
  .iti__flag.iti__cg {
    height: 14px;
    background-position: -922px 0px; }
  .iti__flag.iti__ch {
    height: 15px;
    background-position: -944px 0px; }
  .iti__flag.iti__ci {
    height: 14px;
    background-position: -961px 0px; }
  .iti__flag.iti__ck {
    height: 10px;
    background-position: -983px 0px; }
  .iti__flag.iti__cl {
    height: 14px;
    background-position: -1005px 0px; }
  .iti__flag.iti__cm {
    height: 14px;
    background-position: -1027px 0px; }
  .iti__flag.iti__cn {
    height: 14px;
    background-position: -1049px 0px; }
  .iti__flag.iti__co {
    height: 14px;
    background-position: -1071px 0px; }
  .iti__flag.iti__cp {
    height: 14px;
    background-position: -1093px 0px; }
  .iti__flag.iti__cr {
    height: 12px;
    background-position: -1115px 0px; }
  .iti__flag.iti__cu {
    height: 10px;
    background-position: -1137px 0px; }
  .iti__flag.iti__cv {
    height: 12px;
    background-position: -1159px 0px; }
  .iti__flag.iti__cw {
    height: 14px;
    background-position: -1181px 0px; }
  .iti__flag.iti__cx {
    height: 10px;
    background-position: -1203px 0px; }
  .iti__flag.iti__cy {
    height: 14px;
    background-position: -1225px 0px; }
  .iti__flag.iti__cz {
    height: 14px;
    background-position: -1247px 0px; }
  .iti__flag.iti__de {
    height: 12px;
    background-position: -1269px 0px; }
  .iti__flag.iti__dg {
    height: 10px;
    background-position: -1291px 0px; }
  .iti__flag.iti__dj {
    height: 14px;
    background-position: -1313px 0px; }
  .iti__flag.iti__dk {
    height: 15px;
    background-position: -1335px 0px; }
  .iti__flag.iti__dm {
    height: 10px;
    background-position: -1357px 0px; }
  .iti__flag.iti__do {
    height: 14px;
    background-position: -1379px 0px; }
  .iti__flag.iti__dz {
    height: 14px;
    background-position: -1401px 0px; }
  .iti__flag.iti__ea {
    height: 14px;
    background-position: -1423px 0px; }
  .iti__flag.iti__ec {
    height: 14px;
    background-position: -1445px 0px; }
  .iti__flag.iti__ee {
    height: 13px;
    background-position: -1467px 0px; }
  .iti__flag.iti__eg {
    height: 14px;
    background-position: -1489px 0px; }
  .iti__flag.iti__eh {
    height: 10px;
    background-position: -1511px 0px; }
  .iti__flag.iti__er {
    height: 10px;
    background-position: -1533px 0px; }
  .iti__flag.iti__es {
    height: 14px;
    background-position: -1555px 0px; }
  .iti__flag.iti__et {
    height: 10px;
    background-position: -1577px 0px; }
  .iti__flag.iti__eu {
    height: 14px;
    background-position: -1599px 0px; }
  .iti__flag.iti__fi {
    height: 12px;
    background-position: -1621px 0px; }
  .iti__flag.iti__fj {
    height: 10px;
    background-position: -1643px 0px; }
  .iti__flag.iti__fk {
    height: 10px;
    background-position: -1665px 0px; }
  .iti__flag.iti__fm {
    height: 11px;
    background-position: -1687px 0px; }
  .iti__flag.iti__fo {
    height: 15px;
    background-position: -1709px 0px; }
  .iti__flag.iti__fr {
    height: 14px;
    background-position: -1731px 0px; }
  .iti__flag.iti__ga {
    height: 15px;
    background-position: -1753px 0px; }
  .iti__flag.iti__gb {
    height: 10px;
    background-position: -1775px 0px; }
  .iti__flag.iti__gd {
    height: 12px;
    background-position: -1797px 0px; }
  .iti__flag.iti__ge {
    height: 14px;
    background-position: -1819px 0px; }
  .iti__flag.iti__gf {
    height: 14px;
    background-position: -1841px 0px; }
  .iti__flag.iti__gg {
    height: 14px;
    background-position: -1863px 0px; }
  .iti__flag.iti__gh {
    height: 14px;
    background-position: -1885px 0px; }
  .iti__flag.iti__gi {
    height: 10px;
    background-position: -1907px 0px; }
  .iti__flag.iti__gl {
    height: 14px;
    background-position: -1929px 0px; }
  .iti__flag.iti__gm {
    height: 14px;
    background-position: -1951px 0px; }
  .iti__flag.iti__gn {
    height: 14px;
    background-position: -1973px 0px; }
  .iti__flag.iti__gp {
    height: 14px;
    background-position: -1995px 0px; }
  .iti__flag.iti__gq {
    height: 14px;
    background-position: -2017px 0px; }
  .iti__flag.iti__gr {
    height: 14px;
    background-position: -2039px 0px; }
  .iti__flag.iti__gs {
    height: 10px;
    background-position: -2061px 0px; }
  .iti__flag.iti__gt {
    height: 13px;
    background-position: -2083px 0px; }
  .iti__flag.iti__gu {
    height: 11px;
    background-position: -2105px 0px; }
  .iti__flag.iti__gw {
    height: 10px;
    background-position: -2127px 0px; }
  .iti__flag.iti__gy {
    height: 12px;
    background-position: -2149px 0px; }
  .iti__flag.iti__hk {
    height: 14px;
    background-position: -2171px 0px; }
  .iti__flag.iti__hm {
    height: 10px;
    background-position: -2193px 0px; }
  .iti__flag.iti__hn {
    height: 10px;
    background-position: -2215px 0px; }
  .iti__flag.iti__hr {
    height: 10px;
    background-position: -2237px 0px; }
  .iti__flag.iti__ht {
    height: 12px;
    background-position: -2259px 0px; }
  .iti__flag.iti__hu {
    height: 10px;
    background-position: -2281px 0px; }
  .iti__flag.iti__ic {
    height: 14px;
    background-position: -2303px 0px; }
  .iti__flag.iti__id {
    height: 14px;
    background-position: -2325px 0px; }
  .iti__flag.iti__ie {
    height: 10px;
    background-position: -2347px 0px; }
  .iti__flag.iti__il {
    height: 15px;
    background-position: -2369px 0px; }
  .iti__flag.iti__im {
    height: 10px;
    background-position: -2391px 0px; }
  .iti__flag.iti__in {
    height: 14px;
    background-position: -2413px 0px; }
  .iti__flag.iti__io {
    height: 10px;
    background-position: -2435px 0px; }
  .iti__flag.iti__iq {
    height: 14px;
    background-position: -2457px 0px; }
  .iti__flag.iti__ir {
    height: 12px;
    background-position: -2479px 0px; }
  .iti__flag.iti__is {
    height: 15px;
    background-position: -2501px 0px; }
  .iti__flag.iti__it {
    height: 14px;
    background-position: -2523px 0px; }
  .iti__flag.iti__je {
    height: 12px;
    background-position: -2545px 0px; }
  .iti__flag.iti__jm {
    height: 10px;
    background-position: -2567px 0px; }
  .iti__flag.iti__jo {
    height: 10px;
    background-position: -2589px 0px; }
  .iti__flag.iti__jp {
    height: 14px;
    background-position: -2611px 0px; }
  .iti__flag.iti__ke {
    height: 14px;
    background-position: -2633px 0px; }
  .iti__flag.iti__kg {
    height: 12px;
    background-position: -2655px 0px; }
  .iti__flag.iti__kh {
    height: 13px;
    background-position: -2677px 0px; }
  .iti__flag.iti__ki {
    height: 10px;
    background-position: -2699px 0px; }
  .iti__flag.iti__km {
    height: 12px;
    background-position: -2721px 0px; }
  .iti__flag.iti__kn {
    height: 14px;
    background-position: -2743px 0px; }
  .iti__flag.iti__kp {
    height: 10px;
    background-position: -2765px 0px; }
  .iti__flag.iti__kr {
    height: 14px;
    background-position: -2787px 0px; }
  .iti__flag.iti__kw {
    height: 10px;
    background-position: -2809px 0px; }
  .iti__flag.iti__ky {
    height: 10px;
    background-position: -2831px 0px; }
  .iti__flag.iti__kz {
    height: 10px;
    background-position: -2853px 0px; }
  .iti__flag.iti__la {
    height: 14px;
    background-position: -2875px 0px; }
  .iti__flag.iti__lb {
    height: 14px;
    background-position: -2897px 0px; }
  .iti__flag.iti__lc {
    height: 10px;
    background-position: -2919px 0px; }
  .iti__flag.iti__li {
    height: 12px;
    background-position: -2941px 0px; }
  .iti__flag.iti__lk {
    height: 10px;
    background-position: -2963px 0px; }
  .iti__flag.iti__lr {
    height: 11px;
    background-position: -2985px 0px; }
  .iti__flag.iti__ls {
    height: 14px;
    background-position: -3007px 0px; }
  .iti__flag.iti__lt {
    height: 12px;
    background-position: -3029px 0px; }
  .iti__flag.iti__lu {
    height: 12px;
    background-position: -3051px 0px; }
  .iti__flag.iti__lv {
    height: 10px;
    background-position: -3073px 0px; }
  .iti__flag.iti__ly {
    height: 10px;
    background-position: -3095px 0px; }
  .iti__flag.iti__ma {
    height: 14px;
    background-position: -3117px 0px; }
  .iti__flag.iti__mc {
    height: 15px;
    background-position: -3139px 0px; }
  .iti__flag.iti__md {
    height: 10px;
    background-position: -3160px 0px; }
  .iti__flag.iti__me {
    height: 10px;
    background-position: -3182px 0px; }
  .iti__flag.iti__mf {
    height: 14px;
    background-position: -3204px 0px; }
  .iti__flag.iti__mg {
    height: 14px;
    background-position: -3226px 0px; }
  .iti__flag.iti__mh {
    height: 11px;
    background-position: -3248px 0px; }
  .iti__flag.iti__mk {
    height: 10px;
    background-position: -3270px 0px; }
  .iti__flag.iti__ml {
    height: 14px;
    background-position: -3292px 0px; }
  .iti__flag.iti__mm {
    height: 14px;
    background-position: -3314px 0px; }
  .iti__flag.iti__mn {
    height: 10px;
    background-position: -3336px 0px; }
  .iti__flag.iti__mo {
    height: 14px;
    background-position: -3358px 0px; }
  .iti__flag.iti__mp {
    height: 10px;
    background-position: -3380px 0px; }
  .iti__flag.iti__mq {
    height: 14px;
    background-position: -3402px 0px; }
  .iti__flag.iti__mr {
    height: 14px;
    background-position: -3424px 0px; }
  .iti__flag.iti__ms {
    height: 10px;
    background-position: -3446px 0px; }
  .iti__flag.iti__mt {
    height: 14px;
    background-position: -3468px 0px; }
  .iti__flag.iti__mu {
    height: 14px;
    background-position: -3490px 0px; }
  .iti__flag.iti__mv {
    height: 14px;
    background-position: -3512px 0px; }
  .iti__flag.iti__mw {
    height: 14px;
    background-position: -3534px 0px; }
  .iti__flag.iti__mx {
    height: 12px;
    background-position: -3556px 0px; }
  .iti__flag.iti__my {
    height: 10px;
    background-position: -3578px 0px; }
  .iti__flag.iti__mz {
    height: 14px;
    background-position: -3600px 0px; }
  .iti__flag.iti__na {
    height: 14px;
    background-position: -3622px 0px; }
  .iti__flag.iti__nc {
    height: 10px;
    background-position: -3644px 0px; }
  .iti__flag.iti__ne {
    height: 15px;
    background-position: -3666px 0px; }
  .iti__flag.iti__nf {
    height: 10px;
    background-position: -3686px 0px; }
  .iti__flag.iti__ng {
    height: 10px;
    background-position: -3708px 0px; }
  .iti__flag.iti__ni {
    height: 12px;
    background-position: -3730px 0px; }
  .iti__flag.iti__nl {
    height: 14px;
    background-position: -3752px 0px; }
  .iti__flag.iti__no {
    height: 15px;
    background-position: -3774px 0px; }
  .iti__flag.iti__np {
    height: 15px;
    background-position: -3796px 0px; }
  .iti__flag.iti__nr {
    height: 10px;
    background-position: -3811px 0px; }
  .iti__flag.iti__nu {
    height: 10px;
    background-position: -3833px 0px; }
  .iti__flag.iti__nz {
    height: 10px;
    background-position: -3855px 0px; }
  .iti__flag.iti__om {
    height: 10px;
    background-position: -3877px 0px; }
  .iti__flag.iti__pa {
    height: 14px;
    background-position: -3899px 0px; }
  .iti__flag.iti__pe {
    height: 14px;
    background-position: -3921px 0px; }
  .iti__flag.iti__pf {
    height: 14px;
    background-position: -3943px 0px; }
  .iti__flag.iti__pg {
    height: 15px;
    background-position: -3965px 0px; }
  .iti__flag.iti__ph {
    height: 10px;
    background-position: -3987px 0px; }
  .iti__flag.iti__pk {
    height: 14px;
    background-position: -4009px 0px; }
  .iti__flag.iti__pl {
    height: 13px;
    background-position: -4031px 0px; }
  .iti__flag.iti__pm {
    height: 14px;
    background-position: -4053px 0px; }
  .iti__flag.iti__pn {
    height: 10px;
    background-position: -4075px 0px; }
  .iti__flag.iti__pr {
    height: 14px;
    background-position: -4097px 0px; }
  .iti__flag.iti__ps {
    height: 10px;
    background-position: -4119px 0px; }
  .iti__flag.iti__pt {
    height: 14px;
    background-position: -4141px 0px; }
  .iti__flag.iti__pw {
    height: 13px;
    background-position: -4163px 0px; }
  .iti__flag.iti__py {
    height: 11px;
    background-position: -4185px 0px; }
  .iti__flag.iti__qa {
    height: 8px;
    background-position: -4207px 0px; }
  .iti__flag.iti__re {
    height: 14px;
    background-position: -4229px 0px; }
  .iti__flag.iti__ro {
    height: 14px;
    background-position: -4251px 0px; }
  .iti__flag.iti__rs {
    height: 14px;
    background-position: -4273px 0px; }
  .iti__flag.iti__ru {
    height: 14px;
    background-position: -4295px 0px; }
  .iti__flag.iti__rw {
    height: 14px;
    background-position: -4317px 0px; }
  .iti__flag.iti__sa {
    height: 14px;
    background-position: -4339px 0px; }
  .iti__flag.iti__sb {
    height: 10px;
    background-position: -4361px 0px; }
  .iti__flag.iti__sc {
    height: 10px;
    background-position: -4383px 0px; }
  .iti__flag.iti__sd {
    height: 10px;
    background-position: -4405px 0px; }
  .iti__flag.iti__se {
    height: 13px;
    background-position: -4427px 0px; }
  .iti__flag.iti__sg {
    height: 14px;
    background-position: -4449px 0px; }
  .iti__flag.iti__sh {
    height: 10px;
    background-position: -4471px 0px; }
  .iti__flag.iti__si {
    height: 10px;
    background-position: -4493px 0px; }
  .iti__flag.iti__sj {
    height: 15px;
    background-position: -4515px 0px; }
  .iti__flag.iti__sk {
    height: 14px;
    background-position: -4537px 0px; }
  .iti__flag.iti__sl {
    height: 14px;
    background-position: -4559px 0px; }
  .iti__flag.iti__sm {
    height: 15px;
    background-position: -4581px 0px; }
  .iti__flag.iti__sn {
    height: 14px;
    background-position: -4603px 0px; }
  .iti__flag.iti__so {
    height: 14px;
    background-position: -4625px 0px; }
  .iti__flag.iti__sr {
    height: 14px;
    background-position: -4647px 0px; }
  .iti__flag.iti__ss {
    height: 10px;
    background-position: -4669px 0px; }
  .iti__flag.iti__st {
    height: 10px;
    background-position: -4691px 0px; }
  .iti__flag.iti__sv {
    height: 12px;
    background-position: -4713px 0px; }
  .iti__flag.iti__sx {
    height: 14px;
    background-position: -4735px 0px; }
  .iti__flag.iti__sy {
    height: 14px;
    background-position: -4757px 0px; }
  .iti__flag.iti__sz {
    height: 14px;
    background-position: -4779px 0px; }
  .iti__flag.iti__ta {
    height: 10px;
    background-position: -4801px 0px; }
  .iti__flag.iti__tc {
    height: 10px;
    background-position: -4823px 0px; }
  .iti__flag.iti__td {
    height: 14px;
    background-position: -4845px 0px; }
  .iti__flag.iti__tf {
    height: 14px;
    background-position: -4867px 0px; }
  .iti__flag.iti__tg {
    height: 13px;
    background-position: -4889px 0px; }
  .iti__flag.iti__th {
    height: 14px;
    background-position: -4911px 0px; }
  .iti__flag.iti__tj {
    height: 10px;
    background-position: -4933px 0px; }
  .iti__flag.iti__tk {
    height: 10px;
    background-position: -4955px 0px; }
  .iti__flag.iti__tl {
    height: 10px;
    background-position: -4977px 0px; }
  .iti__flag.iti__tm {
    height: 14px;
    background-position: -4999px 0px; }
  .iti__flag.iti__tn {
    height: 14px;
    background-position: -5021px 0px; }
  .iti__flag.iti__to {
    height: 10px;
    background-position: -5043px 0px; }
  .iti__flag.iti__tr {
    height: 14px;
    background-position: -5065px 0px; }
  .iti__flag.iti__tt {
    height: 12px;
    background-position: -5087px 0px; }
  .iti__flag.iti__tv {
    height: 10px;
    background-position: -5109px 0px; }
  .iti__flag.iti__tw {
    height: 14px;
    background-position: -5131px 0px; }
  .iti__flag.iti__tz {
    height: 14px;
    background-position: -5153px 0px; }
  .iti__flag.iti__ua {
    height: 14px;
    background-position: -5175px 0px; }
  .iti__flag.iti__ug {
    height: 14px;
    background-position: -5197px 0px; }
  .iti__flag.iti__um {
    height: 11px;
    background-position: -5219px 0px; }
  .iti__flag.iti__un {
    height: 14px;
    background-position: -5241px 0px; }
  .iti__flag.iti__us {
    height: 11px;
    background-position: -5263px 0px; }
  .iti__flag.iti__uy {
    height: 14px;
    background-position: -5285px 0px; }
  .iti__flag.iti__uz {
    height: 10px;
    background-position: -5307px 0px; }
  .iti__flag.iti__va {
    height: 15px;
    background-position: -5329px 0px; }
  .iti__flag.iti__vc {
    height: 14px;
    background-position: -5346px 0px; }
  .iti__flag.iti__ve {
    height: 14px;
    background-position: -5368px 0px; }
  .iti__flag.iti__vg {
    height: 10px;
    background-position: -5390px 0px; }
  .iti__flag.iti__vi {
    height: 14px;
    background-position: -5412px 0px; }
  .iti__flag.iti__vn {
    height: 14px;
    background-position: -5434px 0px; }
  .iti__flag.iti__vu {
    height: 12px;
    background-position: -5456px 0px; }
  .iti__flag.iti__wf {
    height: 14px;
    background-position: -5478px 0px; }
  .iti__flag.iti__ws {
    height: 10px;
    background-position: -5500px 0px; }
  .iti__flag.iti__xk {
    height: 15px;
    background-position: -5522px 0px; }
  .iti__flag.iti__ye {
    height: 14px;
    background-position: -5544px 0px; }
  .iti__flag.iti__yt {
    height: 14px;
    background-position: -5566px 0px; }
  .iti__flag.iti__za {
    height: 14px;
    background-position: -5588px 0px; }
  .iti__flag.iti__zm {
    height: 14px;
    background-position: -5610px 0px; }
  .iti__flag.iti__zw {
    height: 10px;
    background-position: -5632px 0px; }

.iti__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-image: url("../img/flags@2x.png"); } }

.iti__flag.iti__np {
  background-color: transparent; }

.ss-main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: #666;
  width: 100%; }
  .ss-main .ss-single-selected {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 6px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.2s; }
    .ss-main .ss-single-selected.ss-disabled {
      background-color: #dcdee2;
      cursor: not-allowed; }
    .ss-main .ss-single-selected.ss-open-above {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .ss-main .ss-single-selected.ss-open-below {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .ss-main .ss-single-selected .placeholder {
      flex: 1 1 100%;
      text-align: left;
      width: calc(100% - 30px);
      line-height: 1em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .ss-main .ss-single-selected .placeholder * {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto; }
      .ss-main .ss-single-selected .placeholder .ss-disabled {
        color: #dedede; }
    .ss-main .ss-single-selected .ss-deselect {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 1 auto;
      margin: 0 6px;
      font-weight: 700; }
      .ss-main .ss-single-selected .ss-deselect.ss-hide {
        display: none; }
    .ss-main .ss-single-selected .ss-arrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 1 auto;
      margin: 0 6px; }
      .ss-main .ss-single-selected .ss-arrow span {
        border: solid #666;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transition: transform 0.2s, margin 0.2s; }
        .ss-main .ss-single-selected .ss-arrow span.arrow-up {
          transform: rotate(-135deg);
          margin: 3px 0 0; }
        .ss-main .ss-single-selected .ss-arrow span.arrow-down {
          transform: rotate(45deg);
          margin: -3px 0 0; }
  .ss-main .ss-multi-selected {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-height: 30px;
    width: 100%;
    padding: 0 0 0 3px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.2s; }
    .ss-main .ss-multi-selected.ss-disabled {
      background-color: #dcdee2;
      cursor: not-allowed; }
      .ss-main .ss-multi-selected.ss-disabled .ss-values .ss-disabled {
        color: #666; }
      .ss-main .ss-multi-selected.ss-disabled .ss-values .ss-value .ss-value-delete {
        cursor: not-allowed; }
    .ss-main .ss-multi-selected.ss-open-above {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .ss-main .ss-multi-selected.ss-open-below {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .ss-main .ss-multi-selected .ss-values {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex: 1 1 100%;
      width: calc(100% - 30px); }
      .ss-main .ss-multi-selected .ss-values .ss-disabled {
        display: flex;
        padding: 4px 5px;
        margin: 2px 0;
        line-height: 1em;
        align-items: center;
        width: 100%;
        color: #dedede;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .ss-main .ss-multi-selected .ss-values .ss-value {
        display: flex;
        user-select: none;
        align-items: center;
        font-size: 12px;
        padding: 3px 5px;
        margin: 3px 5px 3px 0;
        color: #fff;
        background-color: #5897fb;
        border-radius: 4px;
        animation-name: scaleIn;
        animation-duration: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both; }
        .ss-main .ss-multi-selected .ss-values .ss-value.ss-out {
          animation-name: scaleOut;
          animation-duration: .2s;
          animation-timing-function: ease-out; }
        .ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
          margin: 0 0 0 5px;
          cursor: pointer; }
    .ss-main .ss-multi-selected .ss-add {
      display: flex;
      flex: 0 1 3px;
      margin: 9px 12px 0 5px; }
      .ss-main .ss-multi-selected .ss-add .ss-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #666;
        position: relative;
        height: 10px;
        width: 2px;
        transition: transform 0.2s; }
        .ss-main .ss-multi-selected .ss-add .ss-plus:after {
          background: #666;
          content: "";
          position: absolute;
          height: 2px;
          width: 10px;
          left: -4px;
          top: 4px; }
        .ss-main .ss-multi-selected .ss-add .ss-plus.ss-cross {
          transform: rotate(45deg); }

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0);
    opacity: 0; } }

.ss-content {
  position: absolute;
  width: 100%;
  margin: -1px 0 0;
  box-sizing: border-box;
  border: 1px solid #dcdee2;
  z-index: 1010;
  background-color: #fff;
  transform-origin: center top;
  transition: transform .2s, opacity .2s;
  opacity: 0;
  transform: scaleY(0); }
  .ss-content.ss-open {
    display: block;
    width: 60%;
    opacity: 1;
    transform: scaleY(1); }
  .ss-content .ss-search {
    display: flex;
    flex-direction: row;
    padding: 8px 8px 6px; }
    .ss-content .ss-search.ss-hide {
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0; }
      .ss-content .ss-search.ss-hide input {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0; }
    .ss-content .ss-search input {
      display: inline-flex;
      font-size: inherit;
      line-height: inherit;
      flex: 1 1 auto;
      width: 100%;
      min-width: 0;
      height: 30px;
      padding: 6px 8px;
      margin: 0;
      border: 1px solid #dcdee2;
      border-radius: 4px;
      background-color: #fff;
      outline: 0;
      text-align: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-appearance: textfield; }
      .ss-content .ss-search input::placeholder {
        color: #8a8a8a;
        vertical-align: middle; }
      .ss-content .ss-search input:focus {
        box-shadow: 0 0 5px #5897fb; }
    .ss-content .ss-search .ss-addable {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 22px;
      font-weight: 700;
      flex: 0 0 30px;
      height: 30px;
      margin: 0 0 0 8px;
      border: 1px solid #dcdee2;
      border-radius: 4px;
      box-sizing: border-box; }
  .ss-content .ss-addable {
    padding-top: 0; }
  .ss-content .ss-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left; }
    .ss-content .ss-list .ss-optgroup .ss-optgroup-label {
      padding: 6px 10px;
      font-weight: 700; }
    .ss-content .ss-list .ss-optgroup .ss-option {
      padding: 6px 6px 6px 25px; }
    .ss-content .ss-list .ss-optgroup-label-selectable {
      cursor: pointer; }
      .ss-content .ss-list .ss-optgroup-label-selectable:hover {
        color: #fff;
        background-color: #5897fb; }
    .ss-content .ss-list .ss-option {
      padding: 6px 10px;
      cursor: pointer;
      user-select: none; }
      .ss-content .ss-list .ss-option * {
        display: inline-block; }
      .ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:hover {
        color: #fff;
        background-color: #5897fb; }
      .ss-content .ss-list .ss-option.ss-disabled {
        cursor: not-allowed;
        color: #dedede;
        background-color: #fff; }
      .ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
        color: #666;
        background-color: rgba(88, 151, 251, 0.1); }
      .ss-content .ss-list .ss-option.ss-hide {
        display: none; }
      .ss-content .ss-list .ss-option .ss-search-highlight {
        background-color: #fffb8c; }

.form, .modal {
  display: flex;
  flex-direction: column;
  padding: calc(0.347rem * 5.4) calc(0.347rem * 7.2);
  background-color: #f2f2f2;
  border-radius: 10px; }
  .form-title, .modal-title, .modal-desc {
    display: block;
    max-width: 99%;
    font-family: 'Raleway', sans-serif;
    font-size: calc(0.347rem * 3.8);
    font-weight: 900;
    text-align: center;
    color: #333333; }
  .form-desc {
    display: block;
    margin-top: calc(0.347rem * 1.2);
    font-size: calc(0.347rem * 1.6);
    text-align: center;
    color: #333333; }
  .form-item {
    margin-top: calc(0.347rem * 3);
    position: relative; }
    .form-item__label {
      position: absolute;
      pointer-events: none;
      overflow: hidden;
      white-space: nowrap;
      top: .5rem;
      left: .25rem;
      font-family: 'Montserrat', sans-serif;
      font-size: calc(0.347rem * 1.5);
      font-weight: 300;
      color: #424242;
      transition: .3s; }
      .form-item__label.label-skills {
        top: .1rem; }
    .form-item__field.field-phone {
      height: 1.2rem;
      padding-bottom: .4rem; }
    .form-item__field.field-about + .form-item__label {
      top: 5%; }
    .form-item__field:focus ~ .form-item__label,
    .form-item__field:not(:focus):valid ~ .form-item__label {
      top: -.5rem;
      font-size: calc(0.347rem * 1.2); }
    .form-item__message, .field-phone--error, .field-phone--valid {
      position: absolute;
      display: block;
      font-size: calc(0.347rem * 1.2);
      color: #b31417;
      transition: all .5s;
      visibility: hidden; }
  .form-btn, .modal-btn {
    margin: calc(0.347rem * 2) auto 0;
    padding: calc(0.347rem *1.6) calc(0.347rem * 6);
    font-size: calc(0.347rem * 1.5);
    color: white;
    background-color: #a8b530;
    border-radius: 30px; }
  .form .iti, .modal .iti {
    width: 100%; }
    .form .iti__arrow, .modal .iti__arrow {
      display: none; }
    .form .iti__selected-flag, .modal .iti__selected-flag {
      background-color: transparent; }
    .form .iti__selected-dial-code, .modal .iti__selected-dial-code {
      margin-top: 2px;
      font-size: calc(0.347rem * 1.2); }
    .form .iti__country-list, .modal .iti__country-list {
      max-height: 300px; }
      .form .iti__country-list::-webkit-scrollbar, .modal .iti__country-list::-webkit-scrollbar {
        width: 6px; }
      .form .iti__country-list::-webkit-scrollbar-track, .modal .iti__country-list::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 59, 79, 0.2) inset;
        background-color: transparent; }
      .form .iti__country-list::-webkit-scrollbar-thumb, .modal .iti__country-list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #878787; }
    .form .iti__country-name, .modal .iti__country-name {
      font-size: calc(0.347rem * 1.5); }
    .form .iti__dial-code, .modal .iti__dial-code {
      font-size: calc(0.347rem * 1.5); }
  .form .ss-multi-selected, .modal .ss-multi-selected {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #1c1c1c;
    border-radius: 0; }
  .form .ss-list::-webkit-scrollbar, .modal .ss-list::-webkit-scrollbar {
    width: 6px; }
  .form .ss-list::-webkit-scrollbar-track, .modal .ss-list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 59, 79, 0.2) inset;
    background-color: transparent; }
  .form .ss-list::-webkit-scrollbar-thumb, .modal .ss-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #878787; }
  .form .ss-value, .modal .ss-value {
    color: #212121 !important;
    background-color: white !important; }
  .form .ss-option, .modal .ss-option {
    font-size: calc(0.347rem * 1.5); }
    .form .ss-option:hover, .modal .ss-option:hover, .form .ss-option.ss-highlighted, .modal .ss-option.ss-highlighted {
      background-color: #878787 !important; }
  .form .field-about, .modal .field-about {
    line-height: 4ch;
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #1c1c1c 0px);
    background-size: 100% 4ch;
    border-bottom: 0; }
    .form .field-about:focus, .modal .field-about:focus {
      outline: 0;
      background-image: linear-gradient(transparent, transparent calc(4ch - 2px), #1c1c1c 0px); }
    .form .field-about.field--error, .modal .field-about.field--error {
      background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #b31417 0); }
      .form .field-about.field--error + .form-item__label, .modal .field-about.field--error + .form-item__label {
        top: -.3rem; }
    .form .field-about:valid, .modal .field-about:valid {
      background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #a8b530 0); }
    .form .field-about ~ .form-item__message, .modal .field-about ~ .form-item__message, .form .field-about ~ .field-phone--error, .modal .field-about ~ .field-phone--error, .form .field-about ~ .field-phone--valid, .modal .field-about ~ .field-phone--valid {
      bottom: 0; }

.field-phone {
  font-size: calc(0.347rem * 1.2); }
  .field-phone--error, .field-phone--valid {
    visibility: visible; }
  .field-phone--valid {
    color: #a8b530; }

.field--error {
  border-color: #b31417; }
  .field--error:focus {
    box-shadow: 0 1px 0 0 #b31417; }
  .field--error.field-about:focus {
    box-shadow: none;
    background-image: linear-gradient(transparent, transparent calc(4ch - 2px), #b31417 0px); }
  .field--error + .form-item__label {
    font-size: calc(0.347rem * 1.5);
    color: #b31417; }
  .field--error > .ss-multi-selected {
    border-color: #b31417; }
  .field--error ~ .form-item__message, .field--error ~ .field-phone--error, .field--error ~ .field-phone--valid {
    visibility: visible;
    transition: all .5s; }

.field--filled {
  border-color: #a8b530; }
  .field--filled:focus {
    box-shadow: 0 1px 0 0 #a8b530; }
  .field--filled.field-about:focus {
    box-shadow: none;
    background-image: linear-gradient(transparent, transparent calc(4ch - 2px), #a8b530 0px); }
  .field--filled.phone--error {
    border-color: #b31417; }
    .field--filled.phone--error:focus {
      box-shadow: 0 1px 0 0 #b31417; }

.iti__country:nth-child(odd) {
  background-color: #f2f2f2; }

.iti__country.iti__highlight {
  background-color: rgba(138, 138, 138, 0.53); }

.iti__flag {
  background-image: url("../assets/img/flags.png"); }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 2; }

.modal {
  box-shadow: 0 14px 37px rgba(33, 33, 33, 0.7);
  z-index: 3;
  visibility: hidden; }
  .modal-title {
    text-align: center; }
  .modal-desc {
    margin-top: .3rem;
    text-align: center;
    font-size: calc(0.347rem * 2.5);
    font-weight: 700;
    white-space: nowrap; }
  .modal-btn {
    text-transform: uppercase; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 0.347rem;
  background-color: rgba(0, 0, 0, 0.73);
  transition: all 800ms;
  visibility: hidden;
  z-index: 2; }

.hidden {
  display: none;
  animation: fadeOut .5s;
  animation-fill-mode: forwards; }

.show {
  visibility: visible; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../assets/img/flags@2x.png"); } }

@media screen and (max-width: 767px) {
  input, textarea {
    font-size: calc(0.347rem * 2.5); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: calc(0.347rem * 2.2); }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: calc(0.347rem * 2.2); }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: calc(0.347rem * 2.2); }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: calc(0.347rem * 2.2); }
  .form, .modal {
    padding: calc(0.347rem * 5.4) calc(0.347rem * 2) calc(0.347rem * 6.9); }
    .form-item {
      margin-top: calc(0.347rem * 3.5); }
      .form-item__label {
        font-size: calc(0.347rem * 2.2); }
      .form-item__field:focus ~ .form-item__label,
      .form-item__field:not(:focus):valid ~ .form-item__label {
        font-size: calc(0.347rem * 1.5); }
      .form-item__field.field-phone {
        font-size: calc(0.347rem * 2.2); }
    .form-btn, .modal-btn {
      width: 100%;
      font-size: calc(0.347rem * 2.5); }
    .form .iti__selected-dial-code, .modal .iti__selected-dial-code {
      font-size: calc(0.347rem * 2.2); }
    .form .ss-option, .modal .ss-option {
      font-size: calc(0.347rem * 2.5); } }
