h1.visually-hidden Анкета

form#form.form(method='POST')
	h2.form-title Анкета Front-end разработчика
	h3.form-desc Введите свои данные
	fieldset
		legend.visually-hidden Анкета
		p.form-item
			input.form-item__field.field-name.validate(id='name' type='text' name='user-name' minlength='2' maxlength='10' required)
			label.form-item__label(for='name') Имя
			span.form-item__message Пожалуйста, введите Ваше имя (количество символов от 2 до 10)
		p.form-item
			input.form-item__field.field-surname.validate(id='surname' type='text' name='user-surname' minlength='2' maxlength='10' required)
			label.form-item__label(for='surname') Фамилия
			span.form-item__message Пожалуйста, введите Вашу фамилию (количество символов от 2 до 20)
		p.form-item
			input.form-item__field.field-email.validate(id='email' type='email' name='user-email' required value)
			label.form-item__label(for='email') E-mail
			span.form-item__message Пожалуйста, введите Ваш e-mail
		p.form-item
			input.form-item__field.field-phone.validate(id='phone' type='tel' name='user-phone' required)
			label.form-item__label.visually-hidden(for='phone') Телефон
			span.field-phone--error.visually-hidden
			span.field-phone--valid.visually-hidden ✓ Номер корректный
		p.form-item
			input.form-item__field.field-city.validate(id='city' type='text' name='user-city' required)
			label.form-item__label(for='city') Город
			span.form-item__message Пожалуйста, введите название города в котором Вы проживаете
		p.form-item
			select.form-item__field.field-skills.validate(id='skills' name='skills' multiple required)
				-
					let options = [
						{name: 'HTML/CSS', value: 'html/css'},
						{name: 'JavaScript', value: 'javascript'},
						{name: 'jQuery', value: 'jquery'},
						{name: 'Bootstrap', value: 'bootstrap'},
						{name: 'Sass', value: 'sass'},
						{name: 'Less', value: 'less'},
						{name: 'ReactJS', value: 'reactjs'},
						{name: 'VueJS', value: 'vuejs'},
					]
				each option in options
					option(value= option.value)= option.name
			label.form-item__label.label-skills(for='skills') Навыки
			span.form-item__message Пожалуйста, выберите из списка навыки, которыми владеете
		p.form-item
			textarea.form-item__field.field-about.validate(id='about' data-autoresize rows='3' name='user-about' minlength='10' maxlength='300' required)
			label.form-item__label.label-about(for='about') Немного о себе
			span.form-item__message Пожалуйста, расскажите коротко о себе (количество символов от 10 до 300)
	button.form-btn(type='submit') Отправить

